@import './page/tortas';

@import "./utilities/extend";
@import "./utilities/variables";

@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";

@import "./mq/mq";



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playpen Sans Deva", cursive;
}

ul {
    list-style: none;
    display: flex;
    gap: 5rem;
}



