//variables
$backgroundtopbars:rgba(255, 255, 255, 0.7);
$colorletrasvioletas: rgb(87, 25, 168);
$colorrosaprincipal:rgb(255, 105, 180);
$colronegro: rgba(0,0,0,0.1);
$rosasuplente:  rgb(201, 79, 124);

