// Colores
$color-principal: rgb(87, 25, 168);
$color-secundario: rgb(255, 105, 180);
$color-fondo-footer: linear-gradient(45deg, #c94f7c, #f7c1d9);
$color-boton: rgb(255, 192, 203);
$color-hover-boton: $color-secundario;
$color-texto: #333;

// Tipografía
$fuente-principal: "Playpen Sans Deva", cursive;